@model IEnumerable<MATJParking.Web.Models.VehicleType>


<div class=" vehicle-type">
    <label class="col-md-2" for="sel1">Vehicle type :</label>
    <select class="  form-control " id="type" name="vehicleTypeId">
        @foreach (MATJParking.Web.Models.VehicleType item in Model)
        {

            <option value="@item.ID" @if (item.ID == 2) { @: selected
                                    }>
                @item.Name
                                </option>
        }
    </select>
</div>
