@model MATJParking.Web.Models.ParkingPlace

@{
    ViewBag.Title = "CheckIn";
}

<h2>CheckIn</h2>

<div>
    <h4>ParkingPlace</h4>
    <hr />
    @{

        <h6>@ViewBag.Message</h6>
        if (ViewBag.Message == "")
        {
            <h6>Your car was checked in succesfully at the following place:</h6>
        }
         @Html.Partial("_ParkedVehicle", Model)
    }
</div>    
