@model MATJParking.Web.Models.ParkingPlace

@{
    ViewBag.Title = "Check out";
}

<h2>Check out</h2>

<h3></h3>

@Html.Partial("_ParkedVehicle", Model)

<form action="post">
@Html.HiddenFor(pl => pl.VehicleRegNumber)
    <div class="CheckOutButtons">
        <button type="submit" class="btn btn-success" formaction="~/Vehicle/CheckOutYes">Yes</button>
        <button type="submit" class="btn btn-primary" formaction="~/Vehicle/Index">No</button>
    </div>
</form>
