@model IEnumerable<MATJParking.Web.Models.VehicleType>
@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>MATJ Parking</h1>
    <p class="lead"></p>
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="input-group">
                    <div class="input-group-btn search-panel">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span id="search_concept">Filter by</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#contains">Contains</a></li>
                            <li><a href="#its_equal">It's equal</a></li>
                            <li><a href="#greather_than">Greather than ></a></li>
                            <li><a href="#less_than">Less than < </a></li>
                            <li class="divider"></li>
                            <li><a href="#all">Anything</a></li>
                        </ul>
                    </div>
                    <input type="hidden" name="search_param" value="all" id="search_param">
                    <input type="text" class="form-control" name="x" placeholder="Search vehicle...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        
            @using (Html.BeginForm())
{
                @Html.AntiForgeryToken()
          <div class="main">      
            <div class="form-group">
                <label for="usr">Registration number :</label>
                <input type="text" class="form-control" id="number" name="registrationNumber">
            </div>

            <div class="form-group">
                @Html.Partial("_VehicleType", Model)
            </div>

        </div>
        <div class="pageButtons">
            <button type="submit" class="btn btn-success" formaction="CheckIn">Check in</button>
            <button type="submit" class="btn btn-primary" formaction="checkout">Check out</button>
        </div>
            }
    </div>
</div>