@model IEnumerable<MATJParking.Web.Models.OverviewLine>

@{
    ViewBag.Title = "Overview";
}



<div class="container">
    <h2>Overview</h2>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Vehicle Type</th>
                <th>Available places</th>
                
            </tr>
        </thead>
        <tbody>
           @foreach (var item in Model)
           {
            <tr>
                <td class="col-md-2">
                    @Html.DisplayFor(model => item.VehicleType.Name)
                </td>
                <td class="col-md-2 ">
                    @Html.DisplayFor(modelItem => item.NumAvailablePlaces)
                </td>
            </tr>
           }
        </tbody>
    </table>
</div>

