@model IEnumerable<MATJParking.Web.Models.OverviewLine>

@{
    ViewBag.Title = "Overview";
}

<h2>Overview</h2>

<table class="table-condensed">
    <tr>
        <th></th>
        <th class="col-md-2 text-right">
            Available places
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="col-md-2">
            @Html.DisplayFor(model => item.VehicleType.Name)
        </td>
        <td class="col-md-2 text-right">
            @Html.DisplayFor(modelItem => item.NumAvailablePlaces)
        </td>
    </tr>
}

</table>
